{
  "env": {
    "browser": false,
    "node": true
  },
  "extends": [
    "standard",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "flowtype"
  ],
  "rules": {
    "space-before-function-paren": ["error", "never"],
    "comma-dangle": ["error", "always-multiline"],
    "no-useless-escape": 0,

    "standard/no-callback-literal": 0
  }
}
